.body {
    width: 100%; 
  }
  
  .center {
    
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  
    .center_full {
    
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  
  .myImage {
  
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    
  
  }
  
  
  
  #myImage {
    height: 100%;
    object-fit:cover;
    width: 100%;
  }
  
  .background{
    background-image: linear-gradient( rgb(189, 188, 188), rgb(255, 255, 255));
    background-size:cover;
  
  }
  
  #showBar{
  display: none;
  }
  
  
  
  
  