.body {
    width: 100%; 
  }
  
  .center {
     display: block;
      margin-left: 20%;
      margin-right: auto;
      width: 50%;
      background-color:lavenderblush;
      border-radius:28px;
      border:1px solid black;
      display:inline-block;
      cursor:pointer;
      color:black;
      font-family:Verdana;
      font-size:17px;
      font-weight:bold;
      padding:8px 75px;
      text-decoration:none;
      text-shadow:0px 1px 0px #2f6627;
    }
    .myButton:hover {
      background-color:transparent;
    }
    .myButton:active {
      position:relative;
      top:1px;

    }
  
    .center_full {
    
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  
  .myImage {
  
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    
  
  }
  
  
  
  #myImage {
    height: 100%;
    object-fit:cover;
    width: 100%;
  }
  
  .background{
    background-image: linear-gradient( rgb(189, 188, 188), rgb(255, 255, 255));
    background-size:cover;
  
  }
  
  #showBar{
  display: none;
  }
  
  
  
  
  