 .body {
  width: 100%;
  box-sizing: border-box;

}

.center {
  display: block;
  margin-left: 20%;
  margin-right: auto;
  margin-bottom: 3px;
  width: 50%;
  width: 60%;
  box-shadow: inset 0px 34px 0px -15px #d76af2;
  background-color: #ba4fd5;
  border: 4px solid #0a0a0a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;

}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 35%;
  top: 20%;
  width: 35%;
  height: 40%;
  overflow: scroll;
  background-color: rgb(241, 187, 219);
  /* align-items: ; */
  font-weight: bold;
  color: #a19ea1;
  text-shadow: 3px 3px 3px black;
  font-size: 40px;
}

.modal-content {

  padding: 20px;
  padding-top: 1px;
  line-height: 1;
}

.close {
  color: rgb(247, 243, 243);
  /* float: left; */
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 auto;
  margin-top: 1px;
}

.close:hover,
.close:focus {
  color: rgb(10, 10, 10);
  text-decoration: none;
  cursor: pointer;
}

#close {
  color: rgb(255, 252, 252);
  float: left;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 3px 3px 4px #0a0a0a;
  padding-left: 0px;
}

/* #close:hover,
#close:focus {
  color: rgb(9, 9, 9);
  text-decoration: none;
  cursor: pointer;
} */



.myButton:hover {
  background-color: #b34332;
}

.myButton:active {
  position: relative;
  top: 1px;

}

.center_full {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.myImage {

  display: block;
  background-repeat: no-repeat;
  background-size: contain;


}



#myImage {
  /* height: 100%;
    object-fit:cover;
    width: 100%; */
  height: 50%;
  width: 60%;
}

.background {
  background-image: linear-gradient(rgb(189, 188, 188), rgb(255, 255, 255));
  background-size: cover;


}

#showBar {
  display: none;
}

html {
  background-color: #f7e2f7;
}
p{
  font-weight: bold;
  color: #fbfafb;
  text-shadow:3px 3px 3px #0a0a0a;
  font-size:xx-large;

}