.body {
    width: 100%; 
    
  }
  
  .center {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: 3px;
    /* width: 50%; */
    width: 60%;
    box-shadow:inset 0px 34px 0px -15px #b54b3a;
	  background-color:#a73f2d;
	  border:4px solid #241d13;
	  display:inline-block;
	  cursor:pointer;
	  color:#ffffff;
	  font-family:Arial;
	  font-size:15px;
	  font-weight:bold;
	  /* padding:9px 23px; */
	  text-decoration:none;
	
}
.myButton:hover {
	background-color:#b34332;
}
.myButton:active {
	position:relative;
	top:1px;

    }
  
    .center_full {
    
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  
  .myImage {
  
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    
  
  }
  
  
  
  #myImage {
    /* height: 100%;
    object-fit:cover;
    width: 100%; */
    height:50%;
    width: 60%;
  }
  
  .background{
    background-image: linear-gradient( rgb(189, 188, 188), rgb(255, 255, 255));
    background-size:cover;
  
  }
  
  #showBar{
  display: none;
  }
 



  
  
  
  
  